{% extends 'base.html' %}

{% block content %}

<div class="pusher">
  <div class="main-content">
    <div class="ui aligned centered grid stackable padded">

      <div class="five wide column">

        {% if form.errors %}
        <div class="ui message red">
          <i class="close icon"></i>
          <b>Form errors:</b>
          <ul>
            {% for err in form.errors %}
            <li><b>Target: </b>{{err}},<b> Message: </b>{{ form.errors[err][0] }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <form class="ui large form" method="post" novalidate enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div class="ui segments stackable">

            <div class="ui segment">
              <h2>Create new Admin User</h2>
            </div>

            <div class="ui segment">
              <div class="required field">
                {{ form.username.label }}
                {{ form.username(size=32) }}

              </div>
            </div>

            <div class="ui segment">
              <div class="required field">
                {{ form.email.label }}
                {{ form.email }}
              </div>
            </div>

            <div class="ui segment center aligned">
              {{ form.submit(class_="ui fluid large teal submit button") }}
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}