{% extends 'base.html' %} {% block content %}

<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded centered">

      <div class="seven wide column">


        <div class="ui segment red inverted">
          This guide column is still unfinished and will be released with the next version of the dashboard.
        </div>
        
        <table class="ui celled table">
          <thead>
            <th>Username</th>
            <th>Email</th>
            <th>Created on</th>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>

{% endblock %}