# vscode
/.vscode

# pycache files
/server/app/__pycache__
/server/__pycache__

# database ignore
/server/app/app.db 
/server/app/apimedic/data
/server/app/apimedic/__pycache__
/server/migrations
/server/nohup.out
