# ignore db files
/app/main/clarissa_dev_main.db
/app/main/clarissa_test.db

/app/resources/images

.DS_Store

# ignore json download
/app/main/service/resources/illness_service/infermedica_symptoms_list.json