{% extends 'base.html' %}

{% block content %}

<div class="pusher">
  <div class="main-content">
    <div class="ui aligned centered grid stackable padded">

      <div class="five wide column">
        
        {% if form.errors %}
          <div class="ui message red">
            <i class="close icon"></i>
            <b>Form errors:</b>
            <ul>  
              {% for err in form.errors %}
                <li><b>Target: </b>{{err}},<b> Message: </b>{{ form.errors[err][0] }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        <form class="ui large form" method="post" novalidate>
          {{ form.hidden_tag() }}

          <div class="ui segments stackable">

            <div class="ui segment">
              <h2>Edit survey: {{ survey.title}}</h2>
            </div>

            <div class="ui segment">
              <div class="required field">
                {{ form.title.label }}
                {{ form.title(size=32, value=survey.title) }}

              </div>
            </div>

            <div class="ui segment">
              <div class="required field">
                {{ form.description.label }}
                <textarea id="description" name="description" required="">{{survey.description}}</textarea>
              </div>
            </div>

            <div class="ui segment field required">
              {{ form.expiration_date.label}}
              <div class="ui calendar" id="expiration_date">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  {{ form.expiration_date(placeholder="Date/Time", value=survey.expiration_date, autocomplete="off") }}
                </div>
              </div>
            </div>

            <div class="ui segment center aligned">
              <div class="inline required field center aligned">
                {% if survey.active %}
                {{ form.active(class="form-check-input", checked=True) }}
                {% else %}
                {{ form.active(class="form-check-input") }}
                {% endif %}
                <div class="ui left pointing label">
                  Active survey (published)
              </div>
              </div>
            </div>

            <div class="ui segment center aligned">
              {{ form.submit(class_="ui fluid large teal submit button") }}
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}
{% block post_script%}
<script>
  $('#expiration_date').calendar({
    popupOptions: {
      position: 'bottom right',
      lastResort: 'bottom right',
      prefer: 'opposite',
      hideOnScroll: false
    },
    text: {
      days: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
      months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      today: 'Today',
      now: 'Now',
      am: 'AM',
      pm: 'PM'
    },
  });</script>
{% endblock %}
