{% extends 'base.html' %}

{% block content %}
<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded">

      <div class="two wide column right aligned">
        {% if survey_id != "0" %}
        <a class="ui button fluid labeled icon small" href="{{ url_for('admin.survey_view', id=survey_id) }}">
          <i class="left arrow icon"></i>
          {{ survey_title }}
        </a><br />
        {% endif %}
        <a class="ui button fluid labeled icon" href="{{ url_for('admin.index') }}">
          <i class="home icon"></i>
          Admin Home
        </a><br />
        <a class="ui button fluid labeled icon" href="{{ url_for('admin.survey_home') }}">
          <i class="clipboard icon"></i>
          Surveys Home
        </a><br />
      </div>

      <div class="five wide column">
        <div class="ui segments raised">

          <div class="ui segment center aligned blue inverted">
            <h2>Survey Basics</h2>
          </div>

          <div class="ui segment">

            <b>Survey Design</b><br />
            Surveys must be designed as DAGs (Directed Acyclic Graphs). There must be a root (initial) question that is
            presented to the user, and every option must have a "next question", there the user will be directed to
            after selecting that option. <br />

          </div>

          <div class="ui segment">
            <b>Survey Elements</b><br />
            Surveys contain 3 main elements: the title page, question pages, and the final summary page.<br /><br />

            <u>Title page: </u><br />
            The title page is the first page a user will see when taking the survey. It has a title (same as survey title), description, and set of "links" (resources for the user). Each
            link/resources has a title, description, and a URL that the resource redirects to when clicked.
            <br /><br />

            <u>Question pages:</u><br />
            Each question page will have a title, a description of the question, and a set of options the user can choose. Each option has a "next question" field, that determines
            what question the user will be redirected to if they choose that option. Question options can also direct to a final summary page.
            <br /><br />

            <u>Final Summary pages:</u><br />
            The Final Summaries represent the last pages that a user can get to in a survey. Final summaries have a title, a short description, and "information groups". Information groups
            are resources for the user, containing a title, a list of details, and a link that the resource redirects to.
            <br />
          </div>

          <div class="ui segment">
            <b>Publishing surveys</b><br />
            A survey has 2 fields determining whether or not the survey is published. "Main" and "Active" represent whether or not the survey is the
            main survey, displayed on the home page, and whether or not the survey is part of the active surveys, displayed to users in the surveys
            portion of the application.
          </div>

        </div>
      </div>

      <div class="four wide column">
        <div class="ui segments raised">

          <div class="ui segment center aligned violet inverted">
            <h2>Questions</h2>
          </div>

          <div class="ui segment">

          </div>

        </div>
      </div>

      <div class="four wide column">
        <div class="ui segments raised">

          <div class="ui segment center aligned purple inverted">
            <h2>Summaries</h2>
          </div>

          <div class="ui segment">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}