{% extends 'base.html' %}

{% block content %}

<div class="pusher">
  <div class="main-content">
    
    <div class="ui grid stackable padded centered aligned">

      <div class="six wide column">

        <div class="ui grid centered">
          <div class="five wide column">
            <a class="ui labeled icon button fluid" href="{{ url_for('admin.survey_home') }}">
              <i class="home icon"></i>  
              Survey Home
            </a>
          </div>
          <div class="five wide column">
            <a class="ui labeled icon button fluid" href="{{ url_for('admin.all_surveys') }}">
              <i class="list alternate icon"></i>
              All Surveys
            </a>
          </div>
          <div class="five wide column">
            <a class="ui labeled icon button fluid" href="{{ url_for('admin.all_responses') }}">
              <i class="clipboard list icon"></i>
              Responses
            </a>
          </div>
        </div>



        <div class="ui segments raised">
      
          <div class="ui segment center aligned inverted blue">
            <h2>{{ survey.title }}</h2>
          </div>

          <table class="ui segment celled table" style="min-width:100%">
            <tbody>
              <tr>
                <td class="three wide" colspan="1"><b>Description</b></td>
                <td colspan="5">{{ survey.description }}</td>
              </tr>
              <tr>
                <td colspan="1"><b>Created on</td>
                <td colspan="5">{{ survey.created_on.strftime("%b %d, %Y %I:%M %p") }}</td>
              </tr>
              <tr>
                <td colspan="1"><b>Expiration Date</b></td>
                <td colspan="5">{{ survey.expiration_date.strftime("%b %d, %Y %I:%M %p") }}</td>
              </tr>
              <tr>
                <td colspan="1"><b>Questions:</b></td>
                <td colspan="1">{{ survey.questions|length }}</td>
                <td colspan="1"><b>Links:</b></td>
                <td colspan="1">{{ survey.links|length }}</td>
                <td colspan="1" rowspan="2"><b>Title Image:</b></td>
                <td colspan="3" rowspan="2">
                  {% if survey.image_link %}
                  <img  class="ui tiny circular image" src="{{url_for('api.image_image_server', image_name=survey.image_link)}}"/>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td colspan="1"><b>Summaries:</b></td>
                <td colspan="1">{{ survey.summaries|length }}</td>
                <td colspan="1"><b>Responses:</b></td>
                <td colspan="1">{{ survey.responses|length }}</td>
              </tr>
            </tbody>
          </table>

          <div class="ui segment center aligned">
            <a class="ui fluid button yellow" href="{{ url_for('admin.edit_survey', survey_id=survey.id) }}">
              <i class="pencil icon"></i>
              Edit Survey
            </a>
          </div>
        </div>

          

          <!-- INTRO RESOURCES START -->
            <div class="ui segments stacked">

              <div class="ui segment center aligned">
                <h4>Title Page Link Information</h4>
              </div>

              {% if survey.links %}
                {% for link in survey.links %}
                  <div class="ui horizontal segments">
                    
                    <div class="ui segment">
                      
                      <div class="ui compact menu">
                        <div class="ui dropdown item">
                          {{link.title}}
                          <i class="dropdown icon"></i>
                          <div class="menu">
                            <a href="{{ url_for('admin.edit_link', survey_id=survey.id, link_id=link.id) }}">
                              <div class="item">
                                <i class="pencil icon"></i>
                                Edit Link
                              </div>
                            </a>
                            <a href="{{ url_for('admin.delete_link', survey_id=survey.id, link_id=link.id) }}">
                              <div class="item">
                                  <i class="trash alternate icon"></i>
                                  Delete Link
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      
                      <br/>
                      <b>Description: </b>{{ link.description}}<br/>
                      <b>Link URL: </b> <a href="{{ link.link }}">{{ link.link }}</a><br/>
                    </div>

                      
                    <div class="ui segment">
                      
                      {% if link.image_link %}
                      <img class="ui small circular image" src="{{ url_for('api.image_image_server', image_name=link.image_link) }}"/>
                      {% else %}
                      No image
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              <div class="ui segment">
                This survey currently doesn't have any links. Links appear on the title page of the survey, providing the user some additional resources they can reference before taking the survey.
              </div>
              {% endif %}

              {% if not survey.links|length >= 4 %}
              <div class="ui segment">
                <a class="ui button green labeled icon" href="{{ url_for('admin.create_link', survey_id=survey.id) }}">
                  <i class="circle plus icon"></i>
                  Add a Link
                </a>
              </div>
              {% endif %}
            </div>
          <!-- END OF INTRO -->

      </div>


      <div class="five wide column">


        
        <div class="ui segments raised">

          <div class="ui segment">
            <h2>Configurations</h2>
          </div>

          <table class="ui celled table segment" style="min-width: 100%;">
            <tbody>
              <tr>
                <td class="four wide"><b>Active</b></td>
                <td {% if survey.active %} class="positive center aligned three wide">
                  <i class="check icon"></i>
                  {% else %}
                  class="negative center aligned three wide"
                  >
                  <i class="x icon"></i>
                  {% endif %}
                </td>
                <td>

                  {% if survey.active %}
                    <a class="ui fluid labeled icon button orange" href="{{ url_for('admin.deactivate_survey', id=survey.id) }}">
                      <i class="chevron circle down icon"></i>
                      Deactivate Survey
                    </a>
                  {% else %}
                    <a class="ui fluid labeled icon button green" href="{{ url_for('admin.activate_survey', id=survey.id) }}">
                      <i class="chevron circle up icon"></i>
                      Activate Survey
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><b>Main</b></td>
                <td {% if survey.main %} class="positive center aligned">
                  <i class="check icon"></i>
                  {% else %}
                  class="negative center aligned"
                  >
                  <i class="x icon"></i>
                  {% endif %}
                </td>
                <td>
                  {% if not survey.main  %}
                    <a class="ui fluid labeled icon button teal" href="{{ url_for('admin.pub_main_survey', id=survey.id) }}">
                      <i class="star icon"></i>
                      Publish as Main Survey
                    </a>
                  {% else %}
                    <a class="ui fluid labeled icon button purple" href="{{ url_for('admin.depub_main_survey', id=survey.id) }}">
                      <i class="star outline icon"></i>
                      Remove as Main Survey
                    </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="ui horizontal segments">
          <div class="ui segment">
            <a class="ui fluid button violet" href="{{ url_for('admin.survey_design_guide', survey_id=survey.id, survey_title=survey.title) }}">
              <i class="eye icon"></i>
              Survey Design Guide
            </a>

          </div>



            

          </div>
        </div>

        <!-- ROOT QUESTION SEGMENT START -->
          <div class="ui segments stacked">

            <div class="ui segment center aligned">
              <h4>
                Root Question Information
              </h4>
            </div>

            {% if root %}
            <div class="ui segment">
              <b>Title: </b>{{ root.title }}<br />
              <b>Description: </b>{{ root.description }}<br />
              <b>Type: </b>{{ root.display_type() }}
              {% if root.options %}
              <div class="ui segments">
                {% for option in root.options %}
                <div class="ui segment"></div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="ui segment">
              <div class="ui  buttons fluid">
                <a class="ui basic primary button" href="{{ url_for('admin.question_view', survey_id=survey.id, question_id=root.id)}}">
                  <i class="eye icon"></i>
                  View
                </a>
                <a href="{{ url_for('admin.edit_question', survey_id=survey.id, question_id=root.id) }}"
                  class="ui basic button orange">
                  <i class="pencil alternate icon"></i>
                  Edit
                </a>
                <a href="{{ url_for('admin.delete_question', survey_id=survey.id, question_id=root.id) }}"
                  class="ui basic button red">
                  <i class="trash alternate icon"></i>
                  Delete
                </a>
              </div>
            </div>
            {% else %}
            <div class="ui segment">
              No root question has been added. Add a new question and set it as the root, or edit an existing question
              to be root. The root question will always appear first to the user.<br />
            </div>
            <div class="ui segment">
              <a class="ui button green labeled icon" href="{{ url_for('admin.add_question', survey_id=survey.id, root=True) }}">
                <i class="circle plus icon"></i>
                Add a Root Question</a>
            </div>
            {% endif %}
          </div>
        <!-- ROOT QUESTION SEGMENT END -->

        <div class="ui segments stacked">

          <div class="ui segment center aligned">
            <h4>All Questions:</h4>
          </div>

          {% if survey.questions %}
          {% for question in survey.questions %}
          <div class="ui horizontal segments">
            <div class="ui segment">
              <b>Title: </b>{{ question.title }}<br />
              <b>Description: </b>{{ question.description }}<br />
              <b>Type: </b>{{ question.display_type() }} 
              {% if question.options %}
              <div class="ui segments">
                {% for option in question.options %}
                <div class="ui segment"></div>
                {% endfor %}
              </div>
              {% endif %}  
            </div>
            <div class="ui segment">           
              <div class="ui basic right pointing dropdown icon button">
                  <i class="settings large icon"></i>
                  <div class="menu">
                      <a class="item" href="{{ url_for('admin.question_view', survey_id=survey.id, question_id=question.id)}}">
                        <i class="eye icon"></i>
                        View
                      </a>
                      <a class="item" href="{{ url_for('admin.edit_question', survey_id=survey.id, question_id=question.id) }}">
                        <i class="pencil alternate icon"></i>
                        Edit
                      </a>
                      <a class="item" href="{{ url_for('admin.delete_question', survey_id=survey.id, question_id=question.id) }}">
                        <i class="trash alternate icon"></i>
                        Delete
                      </a>
                </div>
              </div>
            
            </div>
          </div>
          {% endfor %}

          {% else %}
          <div class="ui segment">
            No questions have been added.
          </div>
          {% endif %}
          <div class="ui segment">
            <a class="ui button green labeled icon" href="{{ url_for('admin.add_question', survey_id=survey.id) }}">
              <i class="circle plus icon"></i>
              Add a Question
            </a>
          </div>


        </div>

      </div>

      <div class="five wide column">
        <div class="ui segments stacked">

          <div class="ui segment">
            <h2>Final Summaries</h2>
          </div>

          {% if survey.summaries %}
          {% for summary in survey.summaries %}
          <div class="ui segment">

                      
                <div class="ui compact menu">
                  <div class="ui dropdown item">
                    {{ summary.title }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <a href="{{ url_for('admin.view_summary', survey_id=survey.id, summary_id=summary.id) }}">
                        <div class="item">
                          <i class="eye icon"></i>
                          View Summary
                        </div>
                      </a>
                      <a href="{{ url_for('admin.edit_summary', survey_id=survey.id, summary_id=summary.id) }}">
                        <div class="item">
                          <i class="pencil icon"></i>
                          Edit Summary
                        </div>
                      </a>
                      <a href="{{ url_for('admin.delete_summary', survey_id=survey.id, summary_id=summary.id) }}">
                        <div class="item">
                            <i class="trash alternate icon"></i>
                            Delete Summary
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <img class="ui tiny image bordered right floated" src="{{ url_for('api.image_image_server', image_name=summary.image_link) }}"/>

                <br/><br/>
            <b>Description: </b> {{ summary.description }}<br/>
            <b>Info groups: </b><br/>
            <ul style="margin-top:1%">
              {% for group in summary.info_groups %}
              <li>{{ group.title }}
                <ul>
                  {% for d in group.details %}
                  <li>{{ d.text }}</li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          {% else %}
          <div class="ui segment">
            No summaries have been added to this survey yet. Summaries are the final page that a user sees after completing the survey. Add a summary with the button below.
          </div>
          {% endif %}

          <div class="ui segment">
            <a class="ui button labeled icon green" href="{{ url_for('admin.create_summary', survey_id=survey.id) }}">
              <i class="circle plus icon"></i>
              Add a Summary
            </a>
          </div>

        </div>
      </div> 

    </div>
  </div>
</div>

{% endblock %}

{% block post_script %}
<script>
$('.ui.dropdown')
  .dropdown()
;
</script>
{% endblock %}