{% extends 'base.html' %}

{% block content %}

<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded centered aligned">

      <div class="five wide column">
        <div class="ui segments stacked">

          <div class="ui segment center center aligned">
            <h2>{{ survey.title }}</h2>
          </div>

          <div class="ui segment" style="text-align:left;">
            <b>Description:</b> {{ survey.description }}<br />
            <b>Survey author:</b> {{ survey.author.first_name }} ({{ survey.author.email }})<br />
            <b>Expiration date:</b> {{ survey.expiration_date }}<br />
            <b>Active:</b> {{ survey.active }}
          </div>

          <div class="ui horizontal segments">
            <div class="ui segment">
              <a class="ui button fluid yellow" href="{{ url_for('admin.edit_survey', survey_id=survey.id) }}">Edit
                Survey</a>
            </div>

            {% if survey.active %}
            <div class="ui segment">
              <a class="ui button fluid red" href="{{ url_for('admin.deactivate_survey', id=survey.id) }}">Deactivate
                Survey</a>
            </div>
            {% else %}
            <div class="ui segment">
              <a class="ui button fluid green" href="{{ url_for('admin.activate_survey', id=survey.id) }}">Activate
                Survey</a>
            </div>
            {% endif %}
          </div>

        </div>

        <div class="ui segments stacked">

          <div class="ui segment center aligned">
            <h4>
              Root Question Info
            </h4>
          </div>

          {% if survey.root %}
          <div class="ui segment">
            <b>Title: </b>{{ survey.root.title }}<br />
            <b>Description: </b>{{ survey.root.description }}<br />
            <b>Type: </b>{{ survey.root.type }}
            {% if survey.root.options %}
            <div class="ui segments">
              {% for option in survey.root.options %}
              <div class="ui segment"></div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="ui horizontal segments">
            <div class="ui segment">
              <a class="ui primary button small">
                View Question
              </a>
            </div>
            <div class="ui segment">
              <a href="{{ url_for('admin.edit_question', survey_id=survey.id, question_id=survey.root.id) }}" class="ui button fluid yellow">
                Edit Question
              </a>
            </div>
            <div class="ui segment">
              <a href="{{ url_for('admin.delete_question', survey_id=survey.id, question_id=survey.root.id) }}" class="ui button fluid red">
                Delete Question
              </a>
            </div>
          </div>
          {% else %}
          <div class="ui segment">
            No root question has been added. Add a new question and set it as the root, or edit an existing question to
            be root.<br />
          </div>
          <div class="ui segment">
            <a class="ui button green" href="{{ url_for('admin.add_question', survey_id=survey.id, root=True) }}">Add a
              Root Question</a>
          </div>
          {% endif %}
        </div>

        <div class="ui segments stacked">

          <div class="ui segment center aligned">
            <h4>All Questions:</h4>
          </div>

          {% if survey.questions %}
          {% for question in survey.questions %}
          <div class="ui horizontal segments">
            <div class="ui segment">
            <b>Title: </b>{{ question.title }}<br />
            <b>Description: </b>{{ question.description }}<br />
            <b>Type: </b>{{ question.type }}
            {% if question.options %}
            <div class="ui segments">
              {% for option in question.options %}
              <div class="ui segment"></div>
              {% endfor %}
            </div>
            {% endif %}
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="ui segment">
            No questions have been added.
          </div>
          {% endif %}
          <div class="ui segment">
            <a class="ui button primary" href="{{ url_for('admin.add_question', survey_id=survey.id) }}">Add a
              Question</a>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}