{% extends 'base.html' %}

{% block content %}

<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded centered">

      <div class="five wide column">
        
        <div class="ui segments">

          <div class="ui segment blue inverted center aligned">
            <h2>Core Pages</h2>
          </div>

          <div class="ui segment">
            These pages include the core functionality of the Admin Dashboard.
          </div>

        </div>

      </div>

      <div class="five wide column" style="margin-left:2%; margin-right:2%;">
        
        <div class="ui segments">

          <div class="ui segment green inverted center aligned">
            <h2>Frontend Management</h2>
          </div>

          <div class="ui segment">
            These dashboard features allow Admin Users to directly customize frontend functionality.
          </div>

        </div>

      </div>
      
      <div class="five wide column">
        
        <div class="ui segments">

          <div class="ui segment teal inverted center aligned">
            <h2>Dashboard Administration</h2>
          </div>

          <div class="ui segment">
            These features allow the admin users to manage the admin dashboard platform itself. 
          </div>

        </div>

      </div>


    </div>
  </div>
</div>

{% endblock %}