{% extends 'base.html' %}

{% block content %}
<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded centered">
      <div class="six wide column">
        
        <div class="ui segments">
          
          <div class="ui segment center aligned blue inverted">
            <h2>Changing password for {{ user.username }}</h2>
          </div>
        </div>
            <form method="POST" class="ui large form segments">
              {{ form.hidden_tag() }}
              <div class="ui segment">
                <div class="required field">
                {{ form.current_password.label }}
                {{ form.current_password() }}
                </div>
              </div>
              
              <div class="ui segment">
                <div class="required field">
                {{ form.new_password.label }}
                {{ form.new_password() }}
                </div>
              </div>
              
              <div class="ui segment">
                <div class="required field">
                {{ form.confirm_password.label }}
                {{ form.confirm_password() }}
                </div>
              </div>

              <div class="ui segment center aligned">
                {{ form.submit(class_="ui fluid large teal submit button") }}
              </div>
              
            </form>



      </div>
    </div>
  </div>
</div>
{% endblock %}